// --------------------------------------------------------
// Basic, root styles here
// --------------------------------------------------------

@use "typography/fonts" as *;
@use "typography/typography" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/spacing" as *;

body {
  @include body-default;
  margin-bottom: 0 !important;
  word-wrap: normal;
  word-break: normal;
  margin: 0;
}

small {
  @include body-small;
}

p {
  @include body-default;
}

b,
strong {
  @include poppins-semibold;
}

i,
em {
  @include poppins-regular-italic;
}

h1 {
  @include display--h1;
}
h2 {
  @include display--h2;
}
h3 {
  @include display--h3;
}

button {
  @include button-text-default;
}

hr {
  height: 2px;
  background: $black;
}
