// -----------------------------------------------------------------------------
// This file contains GLOBAL spacing declarations
// -----------------------------------------------------------------------------

////
/// @group spacing
////

// Tokens for use within interior components, elements, and typography
//
$spacing-01: 0.125rem;
// 2px,
$spacing-02: 0.25rem;
// 4px,
$spacing-03: 0.5rem;
// 8px,
$spacing-04: 0.75rem;
// 12px,
$spacing-05: 1rem;
// 16px,
$spacing-06: 1.25rem;
// 20px,
$spacing-07: 1.5rem;
// 24px,
$spacing-08: 1.75rem;
// 28px,
$spacing-09: 2rem;
// 32px,
$spacing-10: 2.25rem;
// 36px
$spacing-11: 2.5rem;
// 40px
$spacing-12: 2.75rem;
// 44px
$spacing-13: 3rem;
// 48px,

// Tokens for use at module level of layout
// e.g. between components/elements, module padding, etc.
$layout-01: 3rem;
// 48px
$layout-02: 3.375rem;
// 54px
$layout-03: 4rem;
// 64px
$layout-04: 4.5rem;
// 72px
$layout-05: 5rem;
// 80px
$layout-06: 6rem;
// 96px
$layout-07: 6.5rem;
// 104px
$layout-08: 8rem;
// 128px
$layout-09: 9rem;
// 144px
$layout-10: 9.5rem;
// 154px
$layout-11: 12.5rem;
// 200px
$layout-12: 13.5rem;
// 216px
$layout-13: 17.5rem;
// 280px
