// -----------------------------------------------------------------------------
// This file contains GLOBAL generic variable declarations
// -----------------------------------------------------------------------------

/// Container's maximum width
/// @type Length
$container--max-width: 1440px;

/// Container's maximum height
/// @type Length
$container--max-height: 1024px;

/// Border radius size
$border-radius-size: 0.625rem;
// 10px
