@use "design-system/scss/styles/abstracts/variables" as *;
@use "design-system/scss/styles/abstracts/colors" as *;
@use "design-system/scss/styles/abstracts/spacing" as *;
@use "design-system/scss/styles/abstracts/mixins.scss" as *;
@use "design-system/scss/styles/layout/layout.scss" as *;

$stories-props: (
  null: (
    padding: 0 2rem,
    grid-gap: 3rem 0,
    grid-template-columns: repeat(1),
  ),
  medium: (
    padding: 0 $layout-01,
    grid-gap: 1.5rem 3rem,
    grid-template-columns: repeat(2, 1fr),
  ),
  large: (
    padding: 0 $layout-03,
    grid-gap: 1.5rem 5rem,
    grid-template-columns: repeat(3, 1fr),
  ),
);

$title-props: (
  null: (
    width: 80%,
    top: 50%,
    left: 50%,
    transform: translate(-50%, -50%),
    padding: 0 1rem,
    text-align: center,
  ),
  medium: (
    width: 50%,
  ),
  large: (
    width: unset,
    padding: 0 $layout-01,
  ),
);

@mixin storiesProps {
  @include properties-at-breakpoint($stories-props);
}

@mixin titleProps {
  @include properties-at-breakpoint($title-props);
}

.container {
  background-color: $light-fog;
  min-height: 100vh;

  .welcomeSection {
    position: relative;
    overflow: hidden;

    .title {
      position: absolute;
      background-color: $presidio;
      color: $white;
      @include layer-top();
      @include titleProps();
    }

    .imageContainer {
      img {
        width: 100%;
        object-fit: cover;
        height: 70vh;
      }
    }
  }

  .stories {
    max-width: $container--max-width;
    display: grid;
    margin: $spacing-13 auto;
    @include storiesProps();
  }

  .loadingContent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: $layout-11;
  }

  .center {
    text-align: center;
  }
}
