@use "design-system/scss/styles/abstracts/colors" as *;
@use "design-system/scss/styles/abstracts/spacing" as *;
@use "design-system/scss/styles/abstracts/breakpoints" as *;
@use "design-system/scss/styles/abstracts/mixins" as *;
@use "design-system/scss/styles/abstracts/variables" as *;
@use "design-system/scss/styles/base/typography/typography" as *;

.storyCard {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  transition: all $transition-default-time ease;
  border-radius: $border-radius-size;
  background-color: $white;
  padding: $spacing-07;
  color: $black;

  &:hover {
    color: $white;
    background-color: $presidio;
    box-shadow: 0 4px 20px -2px rgb(21 25 36 / 50%);

    .indicator {
      background-color: $white;
    }

    .view {
      background-color: $light-fog;
      color: $black;
    }
  }

  a {
    color: unset;
    text-decoration: none;
  }

  div {
    display: flex;
    align-items: center;
    margin-bottom: $spacing-04;

    &.type {
      justify-content: flex-end;

      .indicator {
        margin-left: $spacing-04;
      }
    }

    p {
      margin: 0;
    }

    b {
      margin-left: $spacing-04;
    }

    .indicator {
      width: 20px;
      height: 4px;
      margin-right: $spacing-04;
      background-color: $presidio;
    }
  }

  .view {
    margin: $spacing-04 0;
    background-color: $presidio;
    color: $white;
    padding: $spacing-04;
    text-align: center;
    border-radius: $border-radius-size;
  }
}
